/* Resetting Useragent Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
}

.logo {
    height: 2.4rem;
    width: auto;
}
    
.mbtnavbar {            
    width: 100%;             
        margin: 10px 0;       
        padding: 0;       
        position: relative;              
        height:35px;

    
}

    
     
.mbtnav {       
    margin: 0;       
    padding: 0;       
}       
.mbtnav ul {       
    float: left;       
    list-style: none;       
    margin: 0;       
    padding: 0;       
}       
.mbtnav li {       
    list-style: none;       
    margin: 0;       
    padding: 0;       
       
}       
.mbtnav li a, #mbtnav li a:link, #mbtnav li a:visited {  
   color: #ACADB0;       
    display: block;           
   font:bold 12px Helvetica, sans-serif;       
   margin: 0;       
    padding: 9px 12px 11px 12px;       
        text-decoration: none;
        border-right:0px solid #556FD0;       

    
}      
.mbtnav li a:hover, #mbtnav li a:active {              
    color: #E6E6E6;             
    text-decoration: none;       
        margin: 0;       
    padding: 9px 12px 11px 12px;       
       
   
       
}

    
.mbtnav li {      
    float: left;       
    padding: 0;       
}       
.mbtnav li ul {       
    z-index: 9999;       
    position: absolute;       
    left: -999em;       
    overflow: hidden;
    max-height:520px;     
    width: 160px;       
    margin: 0;       
    padding: 0;       
}
.mbtnav li:hover ul {
    overflow: auto;
    max-height:520px;
}       
.mbtnav li ul a {       
    width: 140px;       
}       
#mbtnav li ul ul {       
    margin: -25px 0 0 161px;    
}
    
.mbtnav li:hover ul ul, #mbtnav li:hover ul ul ul, #mbtnav li.sfhover ul ul, #mbtnav li.sfhover ul ul ul {      
    left: -999em;       
}       
.mbtnav li:hover ul, #mbtnav li li:hover ul, #mbtnav li li li:hover ul, #mbtnav li.sfhover ul, #mbtnav li li.sfhover ul, #mbtnav li li li.sfhover ul {       
    left: auto;       
}       
.mbtnav li:hover, #mbtnav li.sfhover {       
    position: static;       
}       
.mbtnav li li a, #mbtnav li li a:link, #mbtnav li li a:visited {       
    background: #EDEFF4;       
    width: 120px;       
    color: #606060;       
    display: block;
    display: block;       
    font:normal 12px Helvetica, sans-serif;       
    margin: 1px 0 0 0;       
    padding: 9px 12px 10px 12px;       
        text-decoration: none;       
z-index:9999;       
border:1px solid #ddd;

    
-moz-border-radius:4px;      
-webkit-border-radius:4px;

    
   
}       
.mbtnav li li a:hover, #mbtnav li li a:active {       
    background: #627AAD;       
    color: #FFF;       
    display: block;      
   
}

    
     
.mbtnav li li li a, #mbtnav li li li a:link, #mbtnav li li li a:visited {

    
    background: #EDEFF4;      
    width: 120px;       
    color: #606060;              
    font:normal 12px Helvetica, sans-serif;       
    padding: 9px 12px 10px 12px;       
        text-decoration: none;       
z-index:9999;       
border:1px solid #ddd;       
    margin: 1px 0 0  -14px;
        
   
   
}       
.mbtnav li li li a:hover, #mbtnav li li li a:active {       
    background: #627AAD;       
    color: #FFF;       
    display: block;    
     
}
